.bump { stroke: black; }
.bump.disabled { stroke: lightgray; }
.bump text { stroke: none; }
.alabama { stroke: #9e1b32; }
.arizona { stroke: #CC0033; }
.arizona-state { stroke: #8C1D40; }
.arkansas { stroke: #9D2235; }
.auburn { stroke: #0C2340; }
.baylor { stroke: #003015; }
.boise-state { stroke: #D64309; }
.byu { stroke: #002255; }
.cal-poly { stroke: #003831; }
.cal-state-fullerton { stroke: #00274C; }
.california { stroke: #003262; }
.depaul { stroke: #005EB8; }
.florida { stroke: #FA4616; }
.florida-atlantic { stroke: #003366; }
.florida-state { stroke: #782F40; }
.fresno-state { stroke: #DB0032; }
.georgia { stroke: #BA0C2F; }
.hofstra { stroke: #003591; }
.illinois { stroke: #13294B; }
.indiana { stroke: #990000; }
.james-madison { stroke: #450084; }
.kansas { stroke: #0051BA; }
.kentucky { stroke: #0033A0; }
.long-beach-state { stroke: #FFC72A; }
.louisiana { stroke: #ce181e; }
.lsu { stroke: #461D7C; }
.marshall { stroke: #00B140; }
.mcneese-state { stroke: #00592B; }
.michigan { stroke: #00274C; }
.minnesota { stroke: #7A0019; }
.mississippi-state { stroke: #660000; }
.missouri { stroke: #000000; }
.nebraska { stroke: #E41C38; }
.north-carolina-state { stroke: #CC0000; }
.north-dakota-state { stroke: #0A5640; }
.northwestern { stroke: #4E2A84; }
.notre-dame { stroke: #0C2340; }
.ohio-state { stroke: #BB0000; }
.oklahoma { stroke: #841617; }
.oklahoma-state { stroke: #FF7300; }
.ole-miss { stroke: #CE1126; }
.oregon { stroke: #036936; }
.oregon-state { stroke: #DC4405; }
.pittsburgh { stroke: #1C2957; }
.south-alabama { stroke: #00205B; }
.south-carolina { stroke: #73000A; }
.stanford { stroke: #8C1515; }
.tennessee { stroke: #FF8200; }
.texas { stroke: #bf5700; }
.texas-a-m { stroke: #500000; }
.texas-state { stroke: #501214; }
.texas-tech { stroke: #CC0000; }
.tulsa { stroke: #002D72; }
.uab { stroke: #006341; }
.ucf { stroke: #FFC904; }
.ucla { stroke: #2774AE; }
.usc-upstate { stroke: #00703C; }
.usf { stroke: #006747; }
.utah { stroke: #CC0000; }
.washington { stroke: #4b2e83; }
.wisconsin { stroke: #C5050C; }
.y.axis .domain { stroke: none; }
.y.axis .tick line { stroke: rgba(0,0,0,0.2); }
