.bump { stroke: black; }
.bump.disabled { stroke: lightgray; }
.bump text { stroke: none; }

.alabama { stroke: #9e1b32; }
.arizona { stroke: #CC0033; }
.arizonaState { stroke: #8C1D40; }
.arkansas { stroke: #9D2235; }
.auburn { stroke: #0C2340; }
.baylor { stroke: #003015; }
.boiseState { stroke: #D64309; }
.byu { stroke: #002255; }
.calPoly { stroke: #003831; }
.calStateFullerton { stroke: #00274C; }
.california { stroke: #003262; }
.charlotte { stroke: #046A38; }
.clemson { stroke: #F56600; }
.coloradoState { stroke: #1E4D2B; }
.dePaul { stroke: #005EB8; }
.drake { stroke: #004477; }
.duke { stroke: #003087; }
.florida { stroke: #FA4616; }
.floridaAtlantic { stroke: #003366; }
.floridaState { stroke: #782F40; }
.fresnoState { stroke: #DB0032; }
.georgia { stroke: #BA0C2F; }
.hofstra { stroke: #003591; }
.illinois { stroke: #13294B; }
.indiana { stroke: #990000; }
.iowaState { stroke: #C8102E; }
.jamesMadison { stroke: #450084; }
.kansas { stroke: #0051BA; }
.kentucky { stroke: #0033A0; }
.liberty { stroke: #002D62; }
.longBeachState { stroke: #FFC72A; }
.louisiana { stroke: #ce181e; }
.louisville { stroke: #AD0000; }
.lsu { stroke: #461D7C; }
.marshall { stroke: #00B140; }
.mcNeeseState { stroke: #00592B; }
.michigan { stroke: #00274C; }
.minnesota { stroke: #7A0019; }
.mississippiState { stroke: #660000; }
.missouri { stroke: #000000; }
.nebraska { stroke: #E41C38; }
.northCarolina { stroke: #7BAFD4; }
.northCarolinaState { stroke: #CC0000; }
.northDakotaState { stroke: #0A5640; }
.northwestern { stroke: #4E2A84; }
.notreDame { stroke: #0C2340; }
.ohioState { stroke: #BB0000; }
.oklahoma { stroke: #841617; }
.oklahomaState { stroke: #FF7300; }
.oleMiss { stroke: #CE1126; }
.oregon { stroke: #036936; }
.oregonState { stroke: #DC4405; }
.pittsburgh { stroke: #1C2957; }
.southAlabama { stroke: #00205B; }
.southCarolina { stroke: #73000A; }
.stanford { stroke: #8C1515; }
.tennessee { stroke: #FF8200; }
.texas { stroke: #bf5700; }
.texasAM { stroke: #500000; }
.texasState { stroke: #501214; }
.texasTech { stroke: #CC0000; }
.tulsa { stroke: #002D72; }
.uab { stroke: #006341; }
.ucf { stroke: #FFC904; }
.ucla { stroke: #2774AE; }
.uscUpstate { stroke: #00703C; }
.usf { stroke: #006747; }
.utah { stroke: #CC0000; }
.virginiaTech { stroke: #630031; }
.washington { stroke: #4b2e83; }
.wichitaState { stroke: #FFCD00; }
.wisconsin { stroke: #C5050C; }